
.primary2{
    margin: auto;
    width: 40%;
    border:2px solid black;
    padding:5px;
    display: grid;
}
.primary{
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    width: 40%;
    border:2px solid black;
    padding:5px;
    display: grid;
}
input{
     margin-left: 40px;
}
label {
    display: inline-block;
    width:100px;
    text-align: right;
}
button{
    margin:auto;
    border-radius: 2px;
    font-size: 16px;
}
.output{
    display: inline-block;
    width:100px;
    text-align: right;
}
.red-star{
    color: red;
}
.red{
    color: red;
    margin-left: 100px;
}
.black{
    font-weight: bold;
}
.distance{
    padding-left: 120px;
    color: blue;
}
.distance2{
    padding-left: 62px;
    color:blue
}
.col{
    color: blue;
}