<div class ="primary">
    <form [formGroup]="userForm">
        <label>From Date &nbsp;</label>
        <input type="date" name ="fromDate" id ="fromDate" formControlName="fromDate"><span class="red">*</span><span class="black"> Required Field</span>
        <br><br>
        <label>To Date &nbsp;</label>
        <input type="date" name ="toDate" id ="toDate" formControlName="toDate">
        <br><br>
        
        <label>Date Format&nbsp;<span class="red-star">*</span></label>
        <input type="radio" id ="dd-mm-yy" name="dateType" value="dd-mm-yy" (change)="radioChangeHandler($event)">
        <label>dd-mm-yyyy</label>

        <input type="radio" id ="mm-dd-yy" name="dateType" value="mm-dd-yy" (change)="radioChangeHandler($event)">
        <label>mm-dd-yyyy</label>
        <br><br>
     </form>
     <button type="button" [disabled]="!radioButtonCheck" (click)="setValue()">Submit</button>
     <br>
     <br>
     <!-- <p>From Date:{{fromDate}}To Date:{{toDate}}</p> -->

    <div><span class="col">From Date:</span><span>&nbsp;{{fromDate}}</span><span [ngClass]="spanStyle">To Date:</span><span>&nbsp;{{toDate}}</span></div>
</div>



